# Virtual envs
.venv/
.env/
.python-version

# Python caches
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Coverage / reports
.coverage
coverage.xml
htmlcov/

# Build / dist
build/
dist/
*.egg-info/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Node/Yarn (if any)
node_modules/

# Logs
*.log
.env

# Temporary files
=*
